* {
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	background: black;
}

.Tigerheading {
	text-align: center;
	justify-content: center;
	color: orange;
	
	
}

p{
	color: white;
	font-size: 20px;
	
}
.abouth{
	text-align: center;
	justify-content: center;
	color: orange;

}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	background-position: center;
	font-size: 100%;
	font-family: sans-serif;
	background: black;
}


header {

	width: 100%;
	
	
	align-items: center;
	
	

	background-position: center;
	font-family: sans-serif;	
}

p {
	color: orange;

}

#PRICE {
  background: black;
}


.a, .b, .c, .d, .e, .f {
	background: black;
	color: white;

}

#menu li{
	list-style: none;
	display: inline-block;
	margin: 20px;
}

#menu li a {
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}

section {
	width: 100%;
	float: left;
	height: 100vh;
	position: relative;
}

.navbar-default {
	background: black;
	column-fill: orange;
}

#BOOK{
	background-color: yellow;
	background-image: url("Background.jpg");
	padding-bottom: 20px;
	margin-top: 0px;
	
}
#ABOUT{
	padding-top: 5%;
	background-color: black;
	background-image: url("Background.png");
  
}
#SERVICE{
	background: black;
	color: white;

}

.ss {
	background-image: url("special.png");
	background-repeat: none;
}

.mm {
	background-image: url("mini-buses.png");
	background-repeat: none;s
}



.aa {
	background-image: url("airport.png");
	background-repeat: none;
	padding-top: 25%;
	padding-bottom: 25%;
}

.ww {
	background-image: url("weddings.png");
	background-repeat: none;
	padding-top: 25%;
	padding-bottom: 25%;
}
.pp {
	background-image: url("parcel.png");
	background-repeat: none;
	padding-top: 25%;
	padding-bottom: 25%;
}


.cc {
	background-image: url("Chauffer Services.png");
	background-repeat: none;
	padding-top 25%;
	padding-bottom: 25%;
}




#PRICING{
	background-color: #3C2C3E;


}
#LOCALIZATIONS{
	background-color: black;
	

}

.localheading {
	padding-top: 5%;
	color: orange;
	justify-content: center;
	text-align: center;


}
.con {
	padding-top: 40px;
}


.hdrive {
	font-size: 100%;
	color: orange;
	justify-content: center;
	text-align: center;
}

.navy {
	  background: black;
	
}

.clr{
	clear:  both;
}

.footer-wrapper{
	width: 100%;
	height:  auto;
	min-height:  250px;
	margin-top:  20px;
	background0-image:  url("image.jpg");
	background: black;
	background-position:  center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow:  hidden;

}

.footer-social-icons {
	width:  100%;
	height:  auto;
	margin:  auto;
	padding-top:  20px;
}

.footer-social-icons ul{
	margin:  0px;
  padding:  0px;
  text-align: center;

}

.footer-social-icons ul li{
	display:  inline-block;
	margin-right:  2px;
	width:  36px;
	height:  36px;
	text-align:  center;
}

.footer-social-icons ul li a{
	color:  #fff;
	display:  block;
	font-size:  22px;
	text-shadow:  0px 0px 5px rgba(0,0,0,0.75);
}


.wrapper{
	
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
.logo{
	width: 250px;
	height: 250px;
}

.contact-form{
	max-width: 550px;
	margin: 0 auto;
	background: rgba(0,0,0,0.8);
	padding: 20px;
	border-radius: 50px;
	box-shadow: 0 0 10px;

}

/*.input-fields{
	display: flex;
	flex-direction: column;
	margin-right: 4%;
}*/

.input-fields,
.msg{
	width: 48%;
}

.input-fields, .input,
.msg textarea{
	background: transparent;
	border-top-right-radius: 3 0 0 2;
	border-color: orange;
	color: white;
	width: 100%;
}

.btn1 {
	position: center;
	text-align: center;
	width: 200px;
	background-color: orange;
	font-size: 35px;
	color: white;
	font-family: poppins;
	font-weight: 90;
	border: none;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 30px;
	border-color: black;
	transition: 1.5%;
	}

.footer-social-icons ul li a i{
  line-height:  36px;
  background: orange;
}

.footer-social-icons ul li:nth-child(i){

}

.footer-social-icons ul li:nth-child(1){
	background: orange;
}

.footer-social-icons ul li:nth-child(2){
	background: orange;
}
.footer-social-icons ul li:nth-child(3){
	background: orange;
}
.footer-social-icons ul li:nth-child(4){
	background: orange;
}
.footer-social-icons ul li:nth-child(5){
	background: orange;
}
.footer-social-icons ul li:nth-child(6){
	background: orange;
}

.footer-mid-part{
	width:  100%;
	height:  auto;
	margin: auto;
}

.footer-section-one{
	width:  100%;
	height: auto;
	margin: auto;
	padding:  20px 20px;
	background:  rgba(255, 255, 255, .1);

}

.footer-heading{
	width:  100%;
	height:  auto;
	margin:  auto;
}

.footer-heading h2{
	font-size: 18px;
	text-align:  left;
	color:  #fff;
	text-transform:  uppercase;
	margin:  0px;

}


